/* load in Google fonts */
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Average");
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

html { box-sizing: border-box; }

* { box-sizing: inherit; }
*:before, *:after { box-sizing: inherit; }

body { background-color: #f9f9f9; color: #676767; font-family: "Average", "Georgia", serif; line-height: 1.617em; text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 { font-family: "Fjalla One", "Helvetica", sans-serif; margin: 0; padding: 0; }

h1 { font-size: 3.129em; line-height: 1.1em; }

h2 { font-size: 2.353em; line-height: 1.1em; }

h3 { font-size: 1.769em; line-height: 1.15em; }

h4, h5 { font-size: 1.33em; }

h6 { font-size: 1em; }

p { margin: 0.8085em 0; }
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p { margin: 0.40425em 0 0.8085em; }

a { color: #e5375b; text-decoration: none; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; }
a:visited { color: #b81839; }
a:hover, a:focus { color: #b81839; text-decoration: underline; }

img, figure { display: block; margin: 0; max-width: 100%; height: auto; }

table { margin: 0.8085em 0; }
table caption { font-weight: bold; margin-bottom: 0.40425em; }
table td, table th { border: 1px solid #cbccbc; padding: 5px 12px; }

blockquote { border-left: 5px solid #676767; margin: 0.8085em 0; padding-left: 1.617em; }
blockquote cite { display: block; font-style: italic; }

ul, ol { margin: 0.8085em 0 0.8085em 1.617em; padding: 0; }
ul ul, ul ol, ol ul, ol ol { margin: 0 0 0 1.617em; }

dl { margin: 0.8085em 0; }
dl dt { font-weight: bold; margin-bottom: 0.40425em; }
dl dd { margin: 0 0 0.8085em 0; padding: 0; }

abbr[title], acronym { border-bottom: 1px solid #676767; cursor: help; }

code, kbd, tt { background-color: #676767; color: #f9f9f9; border-radius: 3px; font-size: 0.9em; padding: 2px; }

ins, var { background-color: yellow; border-radius: 3px; padding: 2px; }

.overlay { background: rgba(103, 103, 103, 0.45); z-index: -5; position: absolute; height: 100%; width: 100%; top: 0; left: 0; }

.title { border-bottom: 1px solid #cbccbc; text-align: center; }

.description { font-style: italic; line-height: 1.3em; text-align: center; }

.read-more { display: block; text-align: center; }

.meta { font-size: 0.8em; font-style: italic; }

.page-content { padding: 0.8085em 0.539em; max-width: 920px; margin: 0 auto; }

.hentry { padding: 0.8085em 0.539em; z-index: 0; }
.hentry:after { content: ''; display: table; clear: both; }
.hentry:not(:last-of-type) { border-bottom: 1px dashed #cbccbc; }
.hentry.has-featured-image { background: #fff no-repeat fixed center center; border: none; color: #f9f9f9; position: relative; }
.hentry.has-featured-image a { color: #f9f9f9; text-decoration: underline; }
.hentry.has-featured-image a:hover, .hentry.has-featured-image a:focus { color: #e5375b; }

.featured { background-color: #f9f9f9; margin: 0.8085em 0; padding: 0.8085em 5%; }
.featured .hentry { margin: 0; }
.featured .thumbnail { float: left; margin-right: 1.617em; }
.featured .entry-title { font-size: 1em; }
.featured .meta { font-size: 0.9em; font-style: italic; }
@media screen and (min-width: 1150px) { .featured { padding: 1.617em 0.539em; position: absolute; width: 25%; top: 0.8085em; right: 5%; } }

.title-box { color: #f9f9f9; margin: 0.8085em 0; padding: 1.617em 5%; }
.title-box a { color: inherit; text-decoration: underline; }
@media screen and (min-width: 1150px) { .title-box { border-left: 1px dashed #f9f9f9; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; } }

.colophon { background-color: #676767; color: #f9f9f9; padding: 0.8085em 0.539em; }
.colophon a { color: inherit; text-decoration: underline; }

.copyright { border-top: 1px solid #f9f9f9; font-size: 0.8em; font-style: italic; line-height: 1.3em; margin: 0 1.617em; padding: 0.8085em 0; text-align: right; }
.copyright a { color: inherit; text-decoration: underline; }
.copyright a:hover, .copyright a:focus { background-color: #f9f9f9; color: #676767; }

button, input[type="button"], input[type="reset"], input[type="submit"] { background-color: #f1f1f1; border: 1px solid #ccc; padding: 5px; }
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus { box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); }
button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { box-shadow: inset 0 2px 4px rgba(10, 10, 10, 0.1); }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea { background-color: #f1f1f1; border: 1px solid #ccc; box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); box-sizing: border-box; padding: 5px; -webkit-transition: box-shadow 0.5s, border-color 0.25s ease-in-out; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; width: 100%; }
input[type="text"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="password"]:hover, input[type="search"]:hover, textarea:hover { border: 1px solid #8a8a8a; }
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus { border: 1px solid #8a8a8a; box-shadow: 0 0 5px #cacaca; outline: none; }

label { width: 100%; }

.search-form { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 0.8085em 0; }
.search-form .search-field { -webkit-box-flex: 2; -webkit-flex: 2 0 auto; -ms-flex: 2 0 auto; flex: 2 0 auto; }
.search-form .search-submit { -webkit-box-flex: 1; -webkit-flex: 1 0 20%; -ms-flex: 1 0 20%; flex: 1 0 20%; margin-left: 3.234em; }

.banner { background: #f9f9f9 url("../img/waves.jpg") no-repeat fixed center center; z-index: 0; position: relative; }
.single .banner { background-image: url("../img/sunset.jpg"); }
@media screen and (min-width: 1150px) { .banner { min-height: 600px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; } }

.site-title { text-align: center; }

.masthead { color: #f9f9f9; margin: 0 5%; padding: 0.8085em 0; z-index: 10; }
.masthead a { color: #f9f9f9; }
.masthead a:hover, .masthead a:focus { text-decoration: underline; }
@media screen and (min-width: 1150px) { .masthead { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; } }

.site-navigation { margin: 0.8085em 0; }
.site-navigation ul { display: none; list-style: none; margin: 0; padding: 0; }
.menu-active .site-navigation ul { display: block; }
@media screen and (min-width: 1150px) { .site-navigation ul { display: block; } }
.site-navigation li { border-bottom: 1px solid #cbccbc; margin: 0 3.234em; text-transform: uppercase; }
.site-navigation li li { border-bottom: 0; margin: 0; text-transform: none; }
.site-navigation li:last-child { border-bottom: 0; }
.site-navigation .sub-menu { font-size: 0.9em; }
.site-navigation a { display: block; margin: 0 -40px; padding: 0.40425em 0; }

.menu-toggle { background: transparent; border: 2px solid #f9f9f9; color: #f9f9f9; letter-spacing: 3px; margin: 0.8085em 0; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; text-transform: uppercase; width: 100%; }
.menu-toggle:hover, .menu-toggle:focus { background-color: #f9f9f9; color: #676767; }
@media screen and (min-width: 1150px) { .menu-toggle { display: none; } }

.social-navigation { border-top: 1px solid #cbccbc; margin: 0.8085em 0; padding-top: 0.40425em; }
.social-navigation ul { list-style: none; margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.social-navigation li { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; padding: 0.40425em 0; text-align: center; }
.social-navigation li img { margin: 0 auto; }

.widget-wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
@media screen and (min-width: 1150px) { .widget-wrapper { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; } }

.top-row, .bottom-row { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
@media screen and (min-width: 700px) { .top-row, .bottom-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; } }
@media screen and (min-width: 1150px) { .top-row, .bottom-row { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; } }

.widget-area { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }
@media screen and (min-width: 700px) { .widget-area { -webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; } }

.widget { margin: 0.8085em 0.539em 3.234em; padding: 0 0.539em; }
.widget table { color: inherit; }

/*# sourceMappingURL=style.css.map */