.overlay {
	background: rgba( $text-color, 0.45 );
	z-index: -5;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.title {
	border-bottom: 1px solid $border-color;
	text-align: center;
}

.description {
	font-style: italic;
	line-height: 1.3em;
	text-align: center;
}

.read-more {
	display: block;
	text-align: center;
}

.meta {
	font-size: 0.8em;
	font-style: italic;
}