html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

body {
	background-color: $background-color;
	color: $text-color;
	font-family: $body-font;
	line-height: $base-line-height;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3.129em;
	line-height: 1.1em;
}

h2 {
	font-size: 2.353em;
	line-height: 1.1em;
}

h3 {
	font-size: 1.769em;
	line-height: 1.15em;
}

h4, h5 {
	font-size: 1.33em;
}

h6 {
	font-size: 1em;
}

p {
	margin: ( $base-spacing / 2 ) 0;
	
	h1 + &,
	h2 + &,
	h3 + &,
	h4 + &,
	h5 + &,
	h6 + & {
		margin: ( $base-spacing / 4 ) 0 ( $base-spacing / 2 );
	}
}

a {
	color: $link-color;
	text-decoration: none;
	transition: all 350ms ease-out;
	
	&:visited {
		color: $hover-color;
	}
	
	&:hover,
	&:focus {
		color: $hover-color;
		text-decoration: underline;
	}
}

img,
figure {
	display: block;
	margin: 0;
	max-width: 100%;
	height: auto;
}

table {
	margin: ( $base-spacing / 2 ) 0;
	
	caption {
		font-weight: bold;
		margin-bottom: ( $base-spacing / 4 );
	}
	
	td,
	th {
		border: 1px solid $border-color;
		padding: 5px 12px;
	}
}

blockquote {
	border-left: 5px solid $text-color;
	margin: ( $base-spacing / 2 ) 0;
	padding-left: ( $base-spacing );
	
	cite {
		display: block;
		font-style: italic;
	}
}

ul, ol {
	margin: ( $base-spacing / 2 ) 0 ( $base-spacing / 2 ) ( $base-spacing );
	padding: 0;
	
	ul, ol {
		margin: 0 0 0 ( $base-spacing );
	}
}

dl {
	margin: ( $base-spacing / 2 ) 0;
	
	dt {
		font-weight: bold;
		margin-bottom: ( $base-spacing / 4 );
	}
	
	dd {
		margin: 0 0 ( $base-spacing / 2 ) 0;
		padding: 0;
	}
}

abbr[title],
acronym {
	border-bottom: 1px solid $text-color;
	cursor: help;
}

code, kbd, tt {
	background-color: $text-color;
	color: $background-color;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 2px;
}

ins, var {
	background-color: yellow;
	border-radius: 3px;
	padding: 2px;
}