$background-color: #f9f9f9;
$text-color: #676767;
$border-color: #cbccbc;
$primary-color: #e5375b;
$link-color: $primary-color;
$hover-color: darken( $link-color, 15 );

$sans: "Fjalla One", "Helvetica", sans-serif;
$serif: "Average", "Georgia", serif;
$body-font: $serif;
$header-font: $sans;

$base-line-height: 1.617em;
$base-spacing: $base-line-height;
$base-font-size: 16px;

$tablet-up: "screen and (min-width: 700px)";
$desktop-up: "screen and (min-width: 1150px)";
$large-desktop: "screen and (min-width: 1500px)";
$landscape-tablet: "screen and (min-width: 1000px)";