.page-content {
	padding: ( $base-spacing / 2 ) ( $base-spacing / 3 );
	max-width: 920px;
	margin: 0 auto;
}

.hentry {
	@include clearfix();
	
	// margin: ( $base-spacing ) 0;
	padding: ( $base-spacing / 2 ) ( $base-spacing / 3 );
	z-index: 0;
	
	&:not(:last-of-type) {
		border-bottom: 1px dashed $border-color;
	}
	
	&.has-featured-image {
		background: #fff no-repeat fixed center center;
		border: none;
		color: $background-color;
		position: relative;
		
		a {
			color: $background-color;
			text-decoration: underline;
			
			&:hover,
			&:focus {
				color: $link-color;
			}
		}
	}
}

