.featured {
	background-color: $background-color;
	margin: ( $base-spacing / 2 ) 0;
	padding: ( $base-spacing / 2 ) 5%;
	
	.hentry {
		margin: 0;
	}
	
	.thumbnail {
		float: left;
		margin-right: ( $base-spacing );
	}
	
	.entry-title {
		font-size: 1em;
	}
	
	.meta {
		font-size: 0.9em;
		font-style: italic;
	}
	
	@media #{$desktop-up} {
		padding: ( $base-spacing ) ( $base-spacing / 3 );
		position: absolute;
		width: 25%;
		top: ( $base-spacing / 2 );
		right: 5%;
	}
}

.title-box {
	color: $background-color;
	margin: ( $base-spacing / 2 ) 0;
	padding: ( $base-spacing ) 5%;
	
	a {
		color: inherit;
		text-decoration: underline;
	}
	
	@media #{$desktop-up} {
		border-left: 1px dashed $background-color;
		flex: 1 1 auto;
		align-self: center;
	}
}