.colophon {
	background-color: $text-color;
	color: $background-color;
	padding: ( $base-spacing / 2 ) ( $base-spacing / 3 );
	
	a {
		color: inherit;
		text-decoration: underline;
	}
}

.copyright {
	border-top: 1px solid $background-color;
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.3em;
	margin: 0 ( $base-spacing );
	padding: ( $base-spacing / 2 ) 0;
	text-align: right;
	
	a {
		color: inherit;
		text-decoration: underline;
		
		&:hover,
		&:focus {
			background-color: $background-color;
			color: $text-color;
		}
	}
}