button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: darken( $background-color, 3 );
	border: 1px solid #ccc;
	padding: 5px;
	
	&:hover,
	&:focus {
		box-shadow: inset 0 1px 2px rgba( 10, 10, 10, 0.1 );
	}
	
	&:active {
		box-shadow: inset 0 2px 4px rgba( 10, 10, 10, 0.1 );
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background-color: darken( $background-color, 3 );
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba( 10, 10, 10, 0.1 );
	box-sizing: border-box;
	padding: 5px;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
	width: 100%;
	
	&:hover {
		border: 1px solid #8a8a8a;
	}
	
	&:focus {
		border: 1px solid #8a8a8a;
		box-shadow: 0 0 5px #cacaca;
		outline: none;
	}
}

label {
	width: 100%;
}

.search-form {
	display: flex;
	margin: ( $base-spacing / 2 ) 0;
	
	.search-field {
		flex: 2 0 auto;
	}
	
	.search-submit {
		flex: 1 0 20%;
		margin-left: ( $base-spacing * 2 );
	}
}