.banner {
	background: $background-color url( '../img/waves.jpg' ) no-repeat fixed center center;
	z-index: 0;
	position: relative;
	
	.single & {
		background-image: url( '../img/sunset.jpg' );
	}
	
	@media #{$desktop-up} {
		min-height: 600px;
		display: flex;
	}
}

.site-title {
	text-align: center;
}

.masthead {
	color: $background-color;
	margin: 0 5%;
	padding: ( $base-spacing / 2 ) 0;
	z-index: 10;
	
	a {
		color: $background-color;
		
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
	
	@media #{$desktop-up} {
		flex: 0 0 25%;
	}
}

.site-navigation {
	margin: ( $base-spacing / 2 ) 0;
	
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		
		.menu-active & {
			display: block;
		}
		
		@media #{$desktop-up} {
			display: block;
		}
	}
	
	li {
		border-bottom: 1px solid $border-color;
		margin: 0 ( $base-spacing * 2 );
		text-transform: uppercase;
		
		li {
			border-bottom: 0;
			margin: 0;
			text-transform: none;
		}
		
		&:last-child {
			border-bottom: 0;
		}
	}
	
	.sub-menu {
		font-size: 0.9em;
	}
	
	a {
		display: block;
		margin: 0 -40px;
		padding: ( $base-spacing / 4 ) 0;
	}
}

.menu-toggle {
	background: transparent;
	border: 2px solid $background-color;
	color: $background-color;
	letter-spacing: 3px;
	margin: ( $base-spacing / 2 ) 0;
	transition: all 350ms ease-out;
	text-transform: uppercase;
	width: 100%;
	
	&:hover,
	&:focus {
		background-color: $background-color;
		color: $text-color;
	}
	
	@media #{$desktop-up} {
		display: none;
	}
}

.social-navigation {
	border-top: 1px solid $border-color;
	margin: ( $base-spacing / 2 ) 0;
	padding-top: ( $base-spacing / 4 );
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}
	
	li {
		flex: 0 0 25%;
		padding: ( $base-spacing / 4 ) 0;
		text-align: center;
		
		img {
			margin: 0 auto;
		}
	}
}