.widget-wrapper {
	display: flex;
	flex-direction: column;
	
	@media #{$desktop-up} {
		flex-direction: row;
	}
}

.top-row,
.bottom-row {
	display: flex;
	flex-direction: column;
	
	@media #{$tablet-up} {
		flex-direction: row;
	}
	
	@media #{$desktop-up} {
		flex: 0 0 50%;
	}
}

.widget-area {
	flex: 0 0 auto;
	
	@media #{$tablet-up} {
		flex-basis: 50%;
	}
}

.widget {
	margin: ( $base-spacing / 2 ) ( $base-spacing / 3 ) ( $base-spacing * 2 );
	padding: 0 ( $base-spacing / 3 );
	
	table {
		color: inherit;
	}
}